@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
html{
    font-family: 'Roboto', sans-serif;
}

/* SECTION 0*/
.upgrade{
    width:100vw;
    display: flex;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}
.upgrade>a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 30px;
    margin-right: 30px;
    border-radius: 30px;
    font-size: small;
}
/* SECTION 1*/
.side-menù{
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: smaller;
}
#logo{
    width: 100%;
    height: 90px;
}
#logo > img{
    height: 100%;
    padding: 20px;
}
.side-menù-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fast-menù{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 5px;
    margin: 0px 20px;
}
.fast-menù>li{
    list-style-type: none;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 3em;
}
.fast-menù>li>img{
    width: 20%;
    height: 100%;
    display: block;
    fill: #6E6E6E;
}
.fast-menù>li>span{
    font-size: larger;
    color: #6E6E6E;
}
.playlist-container{
    width: 100%;
    padding: 20px;
}
.playlist-container>h3{
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
}
.playlist-container>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: #6E6E6E;
    font-weight: 800;
}
#new-playlist{
    display: flex;
    align-items: center;
    font-size: 110%;
}
#new-playlist > div{
    display: inline-block;
    background-color: #a3a3a3;
    color: black;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    vertical-align: center;
    font-size: xx-large;
    margin-right: 10px;
}
.side-menù-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    justify-content: flex-end;
    padding: 10px;
    border: 1px solid green;
} 
#download-app{
    display: flex;
    align-items: center;
    color: #6E6E6E;
}
#download-app>img{
    max-width: 15%;
    margin-right: 10px;
}
#user{
    display: flex;
    align-items: center;
    color: #6E6E6E;
}
#user>img{
    max-width: 15%;
    margin-right: 10px;
    background-color: #6E6E6E;
    border-radius: 50%;
}
#user>span{
    font-weight: bolder;
}
.side-menù-bottom>hr{
    margin: 10px 0px;
    border: 1px solid #6E6E6E;
}
#side-menù-top-mobile{
    display:none;
}

/* SECTION FOOTER */
.player-container{
    height: 10vh;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
/* ANCHOR SIZE - M */
@media screen and (max-width:768px) {

}
/* ANCHOR SIZE - S*/
@media screen and (max-width:640px) {
}

/* ANCHOR SIZE - XS */
@media screen and (max-width:375px) {
    .side-menù{
        height: 100vh;
        width: 50px;
        padding:5px;
    }
    #logo{
       display: none; 
    }
    .side-menù-top{
        display: none;
    }
    .side-menù-bottom{
        display:none;
    }
    #side-menù-top-mobile{
        display:contents;
    }
    #side-menù-top-mobile>img{
        margin-top: 5px;
    }
    #side-menù-bottom-mobile{
        margin-top: 65vh;
    }
    #side-menù-bottom-mobile{
        margin-bottom: 5px;
    }
    #download-img{
        padding: 2px;
    }
    #user-img{
        background-color: #6E6E6E;
        border-radius: 50%;
    }
}


